/**UI LEVEL**/
$secondLevelPadLeft: 40px;
$thirdLevelPadLeft: 60px;

.ui_mainmenu {

  li {
    user-select: none;
    list-style-type: none;
  }

  /*HEADER*/
  .ui_mainmenu_header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #2b3c4f;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
    overflow: hidden;

    .ui_mainmenu_header_item {
      color: white;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      position: relative;
      display: block;
      padding: 14px 20px;
      border-top: 1px solid #2b3c4f;
      background-color: #2b3c4f;
      transition: color .3s ease-in-out;
      cursor: pointer;

      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        transition: bottom .3s ease-in-out;
        bottom: -5px;
      }

      &.ui_mainmenu_header_item_active {
        &:after {
          bottom: 0;
        }
      }
    }
  }

  /*CONTENT*/
  .ui_content {
    width: 100%;
    margin: 0;
    padding: 45px 0 0 0;
    position: relative;
    display: none;
  }

  .ui_content_active {
    display: block;
  }

  /*SUBMENU*/
  .ui_submenu {
    padding: 0;
    margin: 0;
    display: none;
  }

  .ui_submenu_item {
    user-select: none;
    list-style-type: none;
    position: relative;
  }

  .ui_submenu_item_label {
    position: relative;
    display: block;
    padding: 14px 20px;
    color: white;
    text-transform: uppercase;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 1;
      transition: transform .2s ease-in-out;
      font: normal normal normal 25px/1 FontAwesome;
    }
  }

  .ui_submenu_item_label_active {
    &:before {
      transform: rotate(180deg);
    }
  }

  .ui_submenu {
    .ui_submenu_item_label {
      color: #707078;
      border-bottom: 1px solid #d0d0d0;
      padding-left: $secondLevelPadLeft;
    }
  }

  .ui_submenu {
    .ui_submenu {
      .ui_submenu_item_label {
        padding-left: $thirdLevelPadLeft;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  //THEME CORAL
  &.ui_mainmenu_coral {
    .ui_mainmenu_header_item {
      &:after {
        border-bottom: 5px solid #ff7569;
      }
      &.ui_mainmenu_header_item_active {
        color: #ff7569;
      }
    }

    .ui_submenu_item {
      background-color: #ff7569;

      .ui_submenu_item {
        background-color: #ffffff;
      }
    }
  }

  //THEME BLUE
  &.ui_mainmenu_blue {
    .ui_mainmenu_header_item {
      &:after {
        border-bottom: 5px solid #69afff;
      }

      &.ui_mainmenu_header_item_active {
        color: #69afff;
      }
    }

    .ui_submenu_item {
      background-color: #69afff;

      .ui_submenu_item {
        background-color: #ffffff;
      }
    }
  }
}




